<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737083628912-1ldmm3j7b6npjvkuaalhr4kilmfjvn01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737083628912-1ldmm3j7b6npjvkuaalhr4kilmfjvn01</string>
	<key>API_KEY</key>
	<string>AIzaSyAjdDapBZFyIALToUVlfAO4g2EjdFmCD2M</string>
	<key>GCM_SENDER_ID</key>
	<string>737083628912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineOrderingSystem1</string>
	<key>PROJECT_ID</key>
	<string>online-ordering-system-660ea</string>
	<key>STORAGE_BUCKET</key>
	<string>online-ordering-system-660ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737083628912:ios:f2fce7d570f16c718103b5</string>
</dict>
</plist>